<div class="container-fluid mt-5 pt-md-4 w-custom">
    <div class="row justify-content-md-center px-2 px-sm-5 pt-2">
        <div class="col-auto justify-content-center px-0 px-md-5">
            <img class="custom-img2 mr-0 mr-md-3" src="https:iconnect.gorsek.si/images/profile.png" alt="profile-pic">
        </div>
        <div class="col ml-0 ml-md-4 my-auto">
            <div class="float-none ml-3 ml-sm-0 float-sm-right float-md-none">
                <div>

                    <span class="fs-3 font-weight-100 align-middle"><%= @user.username %></span>
                    <% if current_user.id == @user.id %> 
                    <%= link_to "Edit profile", edit_user_registration_path, :class => "ml-4 btn btn-outline-dark btn-sm align-bottom mb-1 px-3 d-none d-lg-inline-block" %>
                    <%= link_to "New post", new_post_path, :class => "d-none d-lg-inline-block btn btn-outline-dark btn-sm align-bottom mb-1 px-3 ml-2" %>
                    <div class="mt-1">
                        <%= link_to "Edit profile", edit_user_registration_path, :class => "fs-profile btn btn-outline-dark btn-sm align-bottom mb-1 px-2 px-sm-3 d-inline-block d-lg-none" %>
                        <%= link_to "New post", new_post_path, :class => "fs-profile d-inline-block btn btn-outline-dark btn-sm align-bottom mb-1 px-2 px-sm-3 ml-2 d-lg-none" %>
                    </div>
                    <% else %>
                        <% pre_followed = @user.followers.find { |follower| follower.follower_id == current_user.id} %>
                        <% if pre_followed %>
                            <%= link_to(profile_follower_path(@user.id, pre_followed), method: :delete) do %>
                                <span class="ml-4 btn btn-outline-dark btn-sm align-bottom mb-1 px-3 d-none d-lg-inline-block">Unfollow</span>
                                <div class="mt-1">
                                    <span class="fs-profile btn btn-outline-dark btn-sm align-bottom mb-1 px-2 px-sm-3 d-inline-block d-lg-none">Unfollow</span>
                                </div>
                            <% end %>
                        <% else %>
                            <%= link_to(profile_followers_path(@user.id), method: :post) do %>
                                <span class="ml-4 btn btn-outline-dark btn-sm align-bottom mb-1 px-3 d-none d-lg-inline-block">Follow</span>
                                <div class="mt-1">
                                    <span class="fs-profile btn btn-outline-dark btn-sm align-bottom mb-1 px-2 px-sm-3 d-inline-block d-lg-none">Follow</span>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %> 
                </div>
                <div class="my-2">
                    
                    <span class="fs-profile"><span class="font-weight-bolder"><%= @user.posts.count %></span><span
                            class="mr-1 mr-sm-3"> posts</span></span>
                    <span type="button" data-toggle="modal" data-target="#modalfollowers" class="fs-profile"><span
                            class="font-weight-bolder"><%= @user.followers.count %></span><span
                            class="mr-1 mr-sm-3"> followers</span></span>
                    <div class="modal fade" id="modalfollowers" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Followers</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <% @user.followers.each do |follower| %>
                                    <%= link_to(profile_path(follower.follower_id)) do %>
                                    <div role="button" class="d-flex justify-content-start px-1 py-1 max-content"><div>
                                    <img class="custom-img1 mr-3" src="https://iconnect.gorsek.si/images/profile.png" alt="profile-pic">
                                    </div><div class="my-auto pb-1"><span><span class="px-0 font-weight-bold py-0 color-black"><%= @users.where(id: follower.follower_id).last.username %></span></span></div></div>
                                    <% end %>
                                    <% if follower.id != @user.followers.last.id%>
                                        <div class="dropdown-divider my-0"></div>
                                    <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span type="button" data-toggle="modal" data-target="#modalfollowing" class="fs-profile"><span
                            class="font-weight-bolder"><%= @following.count %></span><span>
                            following</span></span>
                    <div class="modal fade" id="modalfollowing" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Following</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <% @following.each do |following| %>
                                    <%= link_to(profile_path(following.user.id)) do %>
                                    <div role="button" class="d-flex justify-content-start px-1 py-1 max-content">
                                        <div>
                                            <img class="custom-img1 mr-3"
                                                src="https://iconnect.gorsek.si/images/profile.png" alt="profile-pic">
                                        </div>
                                        <div class="my-auto pb-1"><span><span class="px-0 font-weight-bold py-0 color-black"
                                                    href=""><%= following.user.username %></span></span></div>
                                    </div>
                                    <% end %>
                                    <% if following.id != @following.last.id%>
                                    <div class="dropdown-divider my-0"></div>
                                    <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="fs-profile font-weight-600"><%= @user.username %></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-1">
        <p class="fs-profile-sm"><%= @user.description %></p>
    </div>
    <hr>
    <div>
        <div class="container">
            <h2 class="text-center mt-0 mb-3 instantgram font-weight-normal">My posts</h2>
            <div class='row row-cols-1 row-cols-md-2 row-cols-lg-3'>
                <% @user.posts.each do |post| %> 
                <%= link_to(post) do %>
                <div class="col mb-4">
                    <img class="img-fluid img-strech" src="<%= post.image %>" alt="post-pic">
                </div>
                <% end %>
                <% end %>
            </div>

        </div>