<%= form_with model: [@post, @comment] do |f| %>
<div class="mx-3 mt-3">
  <p class="fs-custom mb-2 float-left">Liked by <span class="font-weight-bolder"><%= @post.likes.count %></span></p>
  <%= f.submit "Comment", :class => "fs-custom fs-2 font-weight-600 sign-a float-right commenttext" %>                                 
  </div>
  <div class="pl-5 pl-md-1">
  <%= f.text_area :message, placeholder: "Add a comment ...", :class => "fs-custom comment border-top px-2 pt-2" %>
  <%= f.text_field :user_id, :value => current_user.id, :type => "hidden" %>
  <%= f.text_field :post_id, :value => @post.id, :type => "hidden" %>
  </div>
<% end %>