<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
<%= button_to 'Unlike', post_like_path(post.id, pre_like), method: :delete %>
<span class="color-red"><%= fa_icon "heart" %></span>
<% else %>
<span><%= button_to 'Like', post_likes_path(post.id), method: :post %></span>
<span><%= fa_icon "heart" %></span>
<% end %>

<p class="fs-1 mb-2">Liked by <span class="font-weight-bolder"><%= post.likes.count %></span></p>