<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= form.text_field :user_id, :value => current_user.id, :type => "hidden" %>
  
  <div class="password-main mt-5 mb-4">
    <div class="password-content">

      <%= form.fields_for :locations do |l| %>
      <div class="field form-group row">
        <%= l.label :title, :class => "col-sm-2 col-form-label col-form-label-sm pl-md-5" %>
        <div class="col-sm-10">
          <%= l.text_field :title, :class => "form-control mb-1 w-75 border bg-fafafa fs-1 ml-md-4 mx-auto" %>
        </div>
      </div>
      <% end %>

      <div class="field form-group row">
        <%= form.label :description, :class => "col-sm-2 col-form-label col-form-label-sm pl-md-5" %>
        <div class="col-sm-10">
          <%= form.text_area :description, :class => "form-control mb-1 w-75 border bg-fafafa fs-1 ml-md-4 mx-auto" %>
        </div>
      </div>


      <div class="field form-group row">
        <%= form.label :Profile_image, :class => "col-sm-2 col-form-label col-form-label-sm pl-md-5" %>
        <div class="col-sm-10">
          <%= form.file_field :image, :required => true %>
          <%= form.hidden_field :image_cache, :required => true %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit "Post", :class => "btn btn-primary w-35 mb-2 fs-1 mt-0 font-weight-bolder bg-0095F6 p-1 first-button fs-2" %>
      </div>
    </div>
  </div>
<% end %>

