<div class="d-flex justify-content-center custom-index-div">
    <div class="">
        <% @posts.each do |post| %>
        <div class="bg-white my-5 border">
                <div class="m-2 align-middle" role="button" onclick="this.parentNode.submit();">
                    <img class="custom-img1 mr-3" src="https://iconnect.gorsek.si/images/profile.png" alt="profile-pic">
                    <span class="font-weight-bolder fs-2 mt-1"><%= post.user.username %></span>
                    <span class="float-right mt-2 mr-3"><% post.locations.each do |location| %><%= location.title %><% end %></span>
                </div>
            <div class="mt-2">
                <img type="button" data-toggle="modal" data-target="#postmodal<?php echo $j; ?>"
                    class="img-fluid custom-width" src="https://iconnect.gorsek.si/images/19-4.jpg" alt="post-pic">
            </div>
            <div class="mt-2">
                <div class="float-left">
                </div>
                <div class="float-right mr-2">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="mt-2 ml-4">
                <p class="fs-1 mb-2">Liked by <span class="font-weight-bolder"
                        id="likes<?php echo $post['post_id']; ?>"><?php echo $likes ?></span></p>
            </div>
            <div class="ml-4">
                <p class="fs-1 mb-1"><span class="font-weight-bolder"><%= post.user.username %></span>
                    <%= post.description%></p>
            </div>
            <div class="ml-4">
                <p type="button" data-toggle="modal" data-target="#postmodal<?php echo $j; ?>"
                    class="fs-2 mb-1 text-black-50">View comments</p>
            </div>
        </div>
        <% end %>
    </div>
    <div class="d-none d-lg-block ml-4 mt-5">
        <div class="ml-1 mb-3 line-height" type="button" onclick="window.location='profile.php';">
            <div class="float-left mb-0">
                <img class="custom-img mr-3" src="https://iconnect.gorsek.si/images/profile.png  " alt="profile-pic">
            </div>
            <div class="float-left ml-1">
                <div class="mt-2 pt-1">
                    <span class="font-weight-bolder"><%= current_user.username %></span><br>
                    <span class="text-black-50 fs-2"><%= current_user.fullname %></span>
                </div>
            </div>
            <div class="clearfix">

            </div>
        </div>
        <div class="">

            <div class="mb-3">
                <h6 class="text-black-50">Suggestions For You</h6>
            </div>
            <form action="profile_session.php" method="POST">
                <input type="number" name="id" value="<?php echo $user['id']; ?>" hidden>
                <div class=" mt-2 line-height" role="button" onclick="this.parentNode.submit();">
                    <div class="float-left">
                        <img class="custom-img1 mr-3" src="<?php echo $user['profile_pic']; ?>" alt="profile-pic">
                        <img class="custom-img1 mr-3" src="images/profile.png" alt="profile-pic">
                    </div>
                    <div class="float-left">
                        <span class="font-weight-bolder fs-2 mt-1"><?php echo $user['username']; ?></span><br>
                        <span class="text-black-50 fs-1"><?php echo $user['name']; ?></span>
                    </div>
                    <div class="clearfix">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<?php
include_once 'post_model.php';
include_once './footer.php';
?>-->