
<div class="align-middle mx-auto">
    <div class="modal-content w-model p-0 align-middle mx-auto">
      <div class="modal-body w-model p-0 align-middle mx-auto">
        <div class="column w-model align-middle mx-auto">
          <div class="row h-auto">
            <div class="d-none d-670-block col-8 pr-0">
              <img class="img-fluid img-cover" src="https://iconnect.gorsek.si/images/19-4.jpg">
            </div>
            <div class="col col-md-4 pl-0">
              <div class="">
                <form action="profile_session.php" method="POST">
                  <input type="number" name="id" value="<?php echo $post['user_id']; ?>" hidden>
                  <div class="mb-1 px-3 mt-3">
                    <img class="custom-img1 mr-3" src="https://iconnect.gorsek.si/images/profile.png" alt="profile-pic">
                    <span class="font-weight-bolder fs-custom mt-1"><%= @post.user.username %></span>
                  </div>
                </form>
                <hr>
                <div id="wraper" class="pr-1 pl-2">
                  <div class="scrollbar" id="style-3">
                    <div class="force-overflow" id="commentstext<%= @post.id %>">
                      <% @comments.each do |comment| %>
                        <div class="mx-2">
                          <img class="mb-1 custom-img1 mr-3" src="https://iconnect.gorsek.si/images/profile.png"
                            alt="profile-pic">
                          <span class="font-weight-bolder fs-2 mt-1 fs-custom"><%= comment.user.username %></span>
                          <p class="ml-3 fs-custom"><%= comment.message %></p>
                        </div>
                      <% end %>  
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <hr>
                <div>
                  <div class="float-left ml-2 ml-sm-0">
                    <%#<form action="like.php" method="POST">
                                                <?php
                                            $query1 = "SELECT * FROM likes WHERE post_id = ? AND user_id = ?";
                                            $stmt1 = $pdo->prepare($query1);
                                            $stmt1->execute([$post['post_id'], $_SESSION['user_id']]);
                                            if ($stmt1->rowCount() == 0) {
                                                echo '<span data-content_id="' . $post['post_id'] . '" role="button" class="like fs-custom" id="like' . $post['post_id'] . '"><span class="flaticon-heart"></span></span>';
                                            } else {
                                                echo '<span data-content_id="' . $post['post_id'] . '" role="button" class="like fs-custom" id="like' . $post['post_id'] . '"><span class="flaticon-heart1"></span></span>';
                                            }
                                            
                                            </form>%>
                  </div>
                  <div class="float-right mr-2">
                    <%#<form action=" save.php" method="POST">
                                                <?php
                                            $query1 = "SELECT * FROM saved_posts WHERE post_id = ? AND user_id = ?";
                                            $stmt1 = $pdo->prepare($query1);
                                            $stmt1->execute([$post['post_id'], $_SESSION['user_id']]);
                                            if ($stmt1->rowCount() == 0) {
                                                echo '<span data-content_id="' . $post['post_id'] . '" class="fs-custom mr-2 fs-2 font-weight-600 sign-a save" role="button" id="save' . $post['post_id'] . '">Save</span>';
                                            } else {
                                                echo '<span data-content_id="' . $post['post_id'] . '" class="fs-custom mr-2 fs-2 font-weight-600 sign-a save" role="button" id="save' . $post['post_id'] . '">Saved</span>';
                                            }
                                            </form>%>
                  </div>
                  <div class="clearfix"></div>
                  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
                  <% if pre_like %>
                  <%= link_to(post_like_path(@post.id, pre_like), method: :delete) do %>
                    <span class="color-red ml-1"><%= fa_icon "heart" %></span>
                  <% end %>
                  <% else %>
                  <%= link_to(post_likes_path(@post.id), method: :post) do %>
                    <span class="color-black ml-1"><%= fa_icon "heart" %></span>
                  <% end %> 
                  <% end %>
                  <%= render 'comments/form', comment: @comment %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>